
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div id="googleMap" style="width:70%;height:40%; margin-left: auto; margin-right: auto; margin-top: 3%;"></div>

<div style="width: 70%; height: 40%" align="center" class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp">
        Address Details
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp">
        Contact Details
    </div>
</div>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(47.868006, -2.515347),
            zoom: 10,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({ position: { lat: 47.868006, lng: -2.515347}, title: "Lizio Gites"});

        marker.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfybaBCdU3Aqb2K_S8CDjQWPYAAxGWnSU&callback=myMap"></script>

