@using NatureCottages.ViewModels.Contact

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<br/>
<div align="center">
    <h2>Contact Us</h2>
    <hr/>
</div>



<div id="googleMap" style="width:70%;height:40%; margin-left: auto; margin-right: auto; margin-top: 3%;"></div>

<div style="width: 70%; height: 40%" align="center" class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp">
        <div align="center">
        <br/>
        <h3>Address Details</h3>
        <BR/>
        <ul class="list-group">
            <li class="list-group-item">19 Masion Gite</li>
            <li class="list-group-item">Lizio Gites Cottages</li>
            <li class="list-group-item">Lizio</li>
            <li class="list-group-item">FR7 8UNH</li>
            <li class="list-group-item">France</li>
        </ul>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp">        
            @await Html.PartialAsync("_ContactForm", new ContactFormViewModel())               
    </div>
</div>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(47.868006, -2.515347),
            zoom: 10,
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({ position: { lat: 47.868006, lng: -2.515347 }, title: "Lizio Gites" });
       

        marker.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfybaBCdU3Aqb2K_S8CDjQWPYAAxGWnSU&callback=myMap"></script>

