
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.IO
@using Microsoft.AspNetCore.Hosting
@using NatureCottages.ViewModels.Availability
@model NatureCottages.ViewModels.Availability.AttractionCardViewModel

@{
    var image = Model.Attraction.ImageGroup.Images.FirstOrDefault();

    string imgpath = "";

    if (image != null)
    {
        imgpath = image.ImagePath;
    }

    
  }

<div style="height: 100%;" class="mdl-shadow--4dp">
    <img class="card-img-top" src="@imgpath" style="height: 50%" />
    
    <div class="card-body">
        <div class="card-title">
            @Model.Attraction.Name
        </div>
        <hr />
        <p class="card-text">@Model.Attraction.Description</p>
        
        <div>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect card-bottom-button" href="@Model.Attraction.Link">More Info</a>
        </div>
    </div>

</div>