
@{
    ViewData["Title"] = "LocalArea";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    
}




@using NatureCottages.ViewModels.Availability
@model NatureCottages.ViewModels.Availability.LocalAreaPageViewModel

<h2>LocalArea</h2>


<div class="mdl-grid">

    @foreach (var att in Model.Attractions)
    {
        <div class="mdl-cell--6-col mdl-cell">
            @{
                AttractionCardViewModel vm = new AttractionCardViewModel();
                vm.Attraction = att;
                @await Html.PartialAsync("_AttractionCard", vm)            
            }
        </div>
    }


</div>



