@model NatureCottages.ViewModels.Shared.EmailSentViewModel
@{
    Layout = "Layout/_Layout";
}


<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner" >
        <div class="mdl-shadow--4dp login-form-wrapper" align="center">
            <i class="fa fa-envelope fa-7x"></i>
            <h2>Email sent to: @Model.EmailAddress</h2>
            <h5>@Model.Message</h5>
        </div>
</div>
</div>
s