@model NatureCottages.ViewModels.General.ImageViewerViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div style="height: 70%; overflow: scroll; padding: 10px;" class="mdl-shadow--4dp" align="center">
    <div style="" class="mdl-grid">
        @foreach (var image in Model.ImageGroup.Images)
        {
            <div class="mdl-cell mdl-cell--4-col image-cell" imageId="@image.Id">
                <div class="image-viewer-card">
                    <img src="@image.ImagePath" class="standard-image"/>
                    
                    @if (Model.IsEditable)
                    {
                        <br/>                          
                        <button class="mdl-button mdl-button--primary remove-image-button">Remove</button>
                    }                                      
                </div>                
            </div>
        }
    </div>
</div>

<script src="~/js/EditImages.js"></script>
