@model NatureCottages.Database.Domain.ImageGroup
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="height: 50%;overflow: scroll;" align="center">
    <div style="" class="mdl-grid">
        @foreach (var image in Model.Images)
        {
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-card mdl-shadow--3dp image-viewer-card">
                    <img src="@image.ImagePath" class="standard-image"/>
                    <br/>
                    @Html.ActionLink("Remove", "RemoveImage", "Form", new { id = Model.Id }, new { @class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect remove-image invisible" })                    
                </div>                
            </div>
        }
    </div>
</div>