
@{
    Layout = "Layout/_Layout";
}

<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner">
        <div class="mdl-shadow--4dp login-form-wrapper" align="center">
            <i class="fa fa-times-circle fa-7x"></i>
            <h2>Apologies</h2>
            <h5>Something went wrong. Please try the request again.</h5>
            <h6>If this persists please contact the administrator.</h6>
        </div>
    </div>
</div>