
@{
    Layout = "Layout/_Layout";
}

<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner">
        <div class="mdl-shadow--4dp login-form-wrapper" align="center">
            <i class="fa fa-times-circle fa-7x"></i>
            <h2>Apologies</h2>
            <h5>Your password cannot be reset. The request may have expired.</h5>
        </div>
    </div>
</div>