
@{
    Layout = "Layout/_Layout";
}

<div class="center-vetical-horizontal-outer">
    <div class="center-vetical-horizontal-inner" >
        <div class="mdl-shadow--4dp login-form-wrapper" align="center">
            <i class="fa fa-login fa-7x"></i>
            <h2>Congratulations</h2>
            <h5>Your password has now been reset. Please now login.</h5>            
        </div>
    </div>
</div>
s