@model NatureCottages.ViewModels.Admin.ReadMessageViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div align="center" style="padding: 10px; margin-top: 10px;" class="mdl-shadow--4dp">

        <h4>@Model.Name</h4>       
        <h6>Email: @Model.Email</h6>
        <hr />
        <h5>Message: </h5>
        <p style="max-width: 300px;">@Model.Message</p>
    </div>