@using NatureCottages.Database.Domain
@using NatureCottages.ViewModels.Admin
@model NatureCottages.ViewModels.Admin.FacebookPostManagementViewModel
@{
    Layout = "Layout/_Layout";
}
    <a class="back-to-admin-button clickable-anchor" href="@Url.Action("Index", "Admin")"><i class="fa fa-3x fa-arrow-circle-left"></i></a>

<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

<div align="center" class="container">
    <div style="margin: 5px;" >
        @await Html.PartialAsync("Forms/_FacebookPostForm", new FacebookPost())
    </div>
    
</div>

<hr/>

<div align="center">
    @foreach (var post in @Model.FacebookPosts)
    {
        <div>
            <div data-href="@post.PostUrl" class="fb-post"></div>
            <hr />            
            @Html.ActionLink("Remove", "RemovePost", "Admin", new {id = post.Id}, new {@class = "mdl-button mdl-button--raised"})
        </div>
        <br />
    }
</div>

<br/>
