@using NatureCottages.ViewModels.Availability
@model NatureCottages.ViewModels.Availability.AvailabilityViewModel
@{
    ViewData["Title"] = "Availability";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
    <div align="center">
        <h2>Availability</h2>
        <hr />
    </div>

<div>
    <div class="mdl-grid">

        @foreach (var cottage in Model.Cottages)
        {
            <div class="mdl-cell--4-col mdl-cell" align="center">
                @{
                    BookableCottageViewModel vm = new BookableCottageViewModel();
                    vm.Cottage = cottage;
                    @await Html.PartialAsync("_BookableCottageCard", vm)
                }
            </div>
        }
    </div>
</div>
