

.card-img {
    width: 100%;
    height: 80%;
    display: none;    
}

.attraction-card-img {
    width: 100%;
    height: 300px;
}


.visible-card-image {
    width: 100%;
    height: 100%;
}

.center-inner {
    display: inline-block;
}

.center-outer {
    text-align: center;
    align-self: center;
}

.admin-tile {
    height: 50%;
    width: 49%;
    margin: 3px;
}

.table-header-button {
    float: left;
    margin-bottom: 5%;
}

.full-height-grid {
    height: 70%;
}

.admin-tile-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.active-cottages-table {
    width: 70%;
}

.clickable-anchor:hover {
    color: black;
    opacity: 0.5;
    cursor: pointer;
}

.clickable-anchor {
    color: black;
    text-decoration: none;
}

.center-vertically {
    align-self: center;
}

.image-slider-container {
    width: 100%;
    height: 80%;
}

.visibile {
    display: none;
}

.invisible {
    display: block;
}

.image-viewer-card {
    width: 90%;
    height: 90%;
}

.remove-image {

}

#ActiveCottagesTable {
    width: 80%;
}

.standard-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-imager-wrapper-div {
    height: 100%; width: 100%; overflow: hidden;
}

main {
    height: 90%;    
}
footer {
    height: 10%;
}


/*border-radius: 5px;
width: 80%;
height: 100%;
text-align: left;*/

.cottage-card {
    height: 100%;
}

.card-img-top {
    height: 50%;
}

.attraction-card {
    width: 80%;
    height: 70%;
}


#MainImageArea {
    height: 50%;
    background-image: url('../images/cott2.jpg');
    background-position: center;
    background-size: cover;
}

#SimpleCottageGrid {        
    margin: 2%;
}

.field-validation-error {
    
    color: red;
    opacity: 0.7;
    font-size: 9px;
}

.input-validation-error {
    border-bottom: 1px dashed red;
    border-radius: 3%;    
}

#calendar-holder {
    width: 100%;
    margin-bottom: 5%;
}

.unbooked-date {
    
}

.calendar-cell {
    height: 100%;
    width: 100%;
}

.booked-date {
    opacity: 0.5;    
}

.standard-date {
    text-align: center;
}

.calendar-text-center {
    text-align: center;
}

.arrow-link {
    color: black;
}

.arrow-link:hover {
    opacity: 0.5;
    cursor: pointer;
}

.calendar-arrow-div:hover {
    opacity: 0.5;
    cursor: pointer;
}

#CalendarArea {
    width: 80%;
}

.center-vetical-horizontal-outer {
    display: flex; justify-content: center; height: 100%;
}

.center-vetical-horizontal-inner {
    align-self: center;    
}


.login-form-wrapper {
    width: 100%;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 15%;
}

.login-form-button-wrapper {
    width: 100%;
       
}

.facebook-post-wrapper {
    height: 85%;
    overflow: scroll;
}

.btn-material-primary {
    background: #8BC34A;    
}