
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>

<partial name="_NavigationBar"></partial>


<body>
<div>
    @RenderBody();
</div>
</body>

<partial name="_FooterBar"></partial>

</html>
